<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Ajouter une pièce</title>
    <link rel="stylesheet" href="../assets/style/form.css">
</head>
<body>
<h1 th:if="${ piece == null }"> Ajouter une pièce </h1>
<h1 th:if="${ piece != null }"> Modifier la pièce </h1>

<form method="POST">
    <div>
        <label>Nom</label>
        <input type="text" name="name" id="name" th:value="${piece?.name}" />
    </div>
    <div>
        <label>Taille de la grille</label>
        <select name="size" id="size">
            <option value="3">3x3</option>
            <option value="4">4x4</option>
            <option value="5">5x5</option>
        </select>
    </div>
    <div>
        <label>Forme</label>
        <div id="grid"></div>
    </div>
    <div style="display:none">
        <label>Matrice</label>
        <input name="matrix" id="matrix" type="hidden" />
    </div>
    <div>
        <input id="submitButton" type="submit" value="Valider" />
    </div>
</form>
<script type="text/javascript" src="../assets/scripts/form.js"></script>
</body>
</html>